.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  /* <img src="../67.jpg" style={{ width: "80%"}}></img> */

  /* background-image: url(../public/67.jpg); */
  /* opacity: 40%; */
  background-color: rgba(148, 0, 211, 0.099);
 background-size: cover;
 border-image: fill;
 border-width: 10px; 
 color: rgb(139, 0, 139);


}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
